
version: 2.1

.env_common: &env_common
    SHELL: '/bin/bash'

.env_xdebug: &env_xdebug
    XDEBUG_MODE: 'coverage'

.env_composer: &env_composer
    COMPOSER_NO_INTERACTION: '1'
    COMPOSER_MEMORY_LIMIT: '-1'
    COMPOSER_DISABLE_XDEBUG_WARN: '1'
    COMPOSER_CACHE_DIR: '/home/circleci/.cache/composer'

orbs:
    codecov: 'codecov/codecov@1.2.0'

executors:
    php_min:
        environment:
            <<: *env_common
            <<: *env_xdebug
            <<: *env_composer

        docker:
            -
                name: 'main'
                image: 'circleci/php:7.4'

    php_plus1:
        environment:
            <<: *env_common
            <<: *env_xdebug
            <<: *env_composer

        docker:
            -
                name: 'main'
                image: 'circleci/php:8.0'

commands:
    pecl_install_yaml:
        description: 'Install YAML extension for PHP'
        steps:
            -
                run:
                    name: 'Install YAML extension for PHP – apt-get install'
                    command: |
                        sudo apt-get update -y
                        sudo apt-get install -y libyaml-dev
            -
                run:
                    name: 'Install YAML extension for PHP – pecl install'
                    command: |
                        sudo pecl install yaml
            -
                run:
                    name: 'Install YAML extension for PHP – php.ini'
                    command: |
                        echo 'extension=yaml' | sudo tee /usr/local/etc/php/conf.d/yaml.ini

    composer_install:
        description: 'Install Composer dependencies with cache restore and save'
        steps:
            -
                restore_cache:
                    name: 'Composer - cache restore'
                    keys:
                        - 'composer-{{ checksum "./composer.lock" }}-2'

            -
                run:
                    name: 'Composer - install'
                    command: >
                        composer install --no-progress

            -
                save_cache:
                    name: 'Composer - cache save'
                    key: 'composer-{{ checksum "./composer.lock" }}-2'
                    paths:
                        - '~/.cache/composer/'

    lint:
        description: 'Run linters'
        steps:
            -
                run:
                    name: 'Run linters'
                    command: './vendor/bin/robo lint'

    test:
        description: 'Run tests'
        steps:
            -
                run:
                    name: 'Git config user.name and user.email'
                    command: |
                        git config --global user.name 'Circle CI'
                        git config --global user.email 'circle.ci@example.com'
            -
                run:
                    name: 'Codeception - unit'
                    command: './vendor/bin/robo test unit'
            -
                codecov/upload:
                    flags: 'unit'
                    file: './tests/_output/machine/coverage/unit/coverage.xml'
            -
                run:
                    name: 'Codeception - acceptance'
                    command: './vendor/bin/robo test acceptance'
            -
                codecov/upload:
                    flags: 'acceptance'
                    file: './tests/_output/machine/coverage/acceptance/coverage.xml'
            -
                store_test_results:
                    name: 'Store unit test results'
                    path: './tests/_output/machine/junit'

jobs:
    build:
        executor: 'php_min'
        working_directory: '~/repo'
        steps:
            - 'checkout'
            - 'composer_install'
    lint:
        executor: 'php_min'
        working_directory: '~/repo'
        steps:
            - 'checkout'
            - 'composer_install'
            - 'lint'
    test_php_min:
        executor: 'php_min'
        working_directory: '~/repo'
        steps:
            - 'pecl_install_yaml'
            - 'checkout'
            - 'composer_install'
            - 'test'
    test_php_plus1:
        executor: 'php_plus1'
        working_directory: '~/repo'
        steps:
            - 'pecl_install_yaml'
            - 'checkout'
            - 'composer_install'
            - 'test'

workflows:
    lint_and_test:
        jobs:
            -
                build: {}
            -
                lint:
                    requires:
                        - 'build'
            -
                test_php_min:
                    requires:
                        - 'build'
            -
                test_php_plus1:
                    requires:
                        - 'build'
